<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryTitle</key>
		<string>Restaurant</string>
		<key>categoryImageFileName</key>
		<string>type_big_2.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Traffic</string>
		<key>categoryImageFileName</key>
		<string>type_big_4.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Clothes</string>
		<key>categoryImageFileName</key>
		<string>type_big_27.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Woman</string>
		<key>categoryImageFileName</key>
		<string>type_big_13.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Staple</string>
		<key>categoryImageFileName</key>
		<string>type_big_28.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Entertainment</string>
		<key>categoryImageFileName</key>
		<string>type_big_7.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Snacks</string>
		<key>categoryImageFileName</key>
		<string>type_big_3.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Drink</string>
		<key>categoryImageFileName</key>
		<string>type_big_22.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>House</string>
		<key>categoryImageFileName</key>
		<string>type_big_8.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Theater</string>
		<key>categoryImageFileName</key>
		<string>type_big_14.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Sport</string>
		<key>categoryImageFileName</key>
		<string>type_big_17.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Cigare</string>
		<key>categoryImageFileName</key>
		<string>type_big_21.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Spouse</string>
		<key>categoryImageFileName</key>
		<string>type_big_24.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Family</string>
		<key>categoryImageFileName</key>
		<string>type_big_25.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Pets</string>
		<key>categoryImageFileName</key>
		<string>type_big_26.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Fruit</string>
		<key>categoryImageFileName</key>
		<string>type_big_29.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Baby</string>
		<key>categoryImageFileName</key>
		<string>type_big_30.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Study</string>
		<key>categoryImageFileName</key>
		<string>type_big_20.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Medical</string>
		<key>categoryImageFileName</key>
		<string>type_big_18.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Travel</string>
		<key>categoryImageFileName</key>
		<string>type_big_19.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Tech</string>
		<key>categoryImageFileName</key>
		<string>type_big_23.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Shopping</string>
		<key>categoryImageFileName</key>
		<string>type_big_6.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Date</string>
		<key>categoryImageFileName</key>
		<string>type_big_9.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Shoes</string>
		<key>categoryImageFileName</key>
		<string>type_big_11.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Cosmetics</string>
		<key>categoryImageFileName</key>
		<string>type_big_12.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Enjoyment</string>
		<key>categoryImageFileName</key>
		<string>type_big_16.png</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Salary</string>
		<key>categoryImageFileName</key>
		<string>type_big_n2.png</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Reward</string>
		<key>categoryImageFileName</key>
		<string>type_big_n5.png</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>Investment</string>
		<key>categoryImageFileName</key>
		<string>type_big_n8.png</string>
		<key>isIncome</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
